// ==================================================================
//  Colours
// ==================================================================
$black: #111;
$white: #fff;
$cream: #f3f0ee;
$grey-dark: #262525;
$grey-mid: #787878;
$orange: #f29a3f;

// ==================================================================
//  Fonts
// ==================================================================
$base-font-size: 18px;
$font-headline: 'Oswald', sans-serif;
$font-body: 'Lato', serif;
