// ==================================================================
//  Utilities / Typography
// ==================================================================

.u-text-grey-dark {
  color: color(grey-dark) !important;
}

.u-text-orange {
  color: color(orange) !important;
}

.u-text-cream {
  color: color(cream) !important;
}

.u-text {
  &-left {
    text-align: left !important;
  }

  &-center {
    text-align: center !important;
  }

  &-right {
    text-align: right !important;
  }
}

.u-hide-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
