@keyframes jAnimation {
  0% {
    stroke-dashoffset: 88;
  }
  50% {
    stroke-dashoffset: 88;
  }
  78% {
    stroke-dashoffset: 0;
  }
}

@keyframes dAnimation {
  0% {
    stroke-dashoffset: -63;
  }
  77% {
    stroke-dashoffset: -63;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.c-logo__j {
  stroke-dasharray: 88;
  stroke-dashoffset: 0;
  will-change: stroke-dashoffset;
  animation: jAnimation 1.5s linear forwards;
}

.c-logo__d {
  stroke-dasharray: 63;
  stroke-dashoffset: 0;
  will-change: stroke-dashoffset;
  animation: dAnimation 1.5s linear forwards;
}
