body {
  font-family: $font-body;
  font-size: $base-font-size;
  font-weight: 200;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-size: $base-font-size;
  margin-bottom: 20px;
}


p {
  margin-bottom: 20px;
  margin-top: 0;
}

strong {
  font-weight: 600;
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
