// ==================================================================
//  Elements / Typography
// ==================================================================

body {
  font-family: $font-body;
  font-size: $base-font-size;
  font-weight: 200;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-size: $base-font-size;
  margin-bottom: $global-spacing;
}

p {
  margin-top: 0;
  margin-bottom: $global-spacing;
}

strong {
  font-weight: 600;
}

a {
  color: color(orange);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
